@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,200;1,400;1,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  overflow-x: hidden;
}
.unionImg {
  width: 20px;
  height: 20px;
}
.lendsqr {
  width: 70px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin-left: 60px;
  height: 150px;
}

.welcome {
  padding: 30px;
}

.welcome h2 {
  margin: 0px;
  color: #213f7d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
.details {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #545f7d;
}
.pablo {
  width: 400px;
}
.pablo Img {
  width: 100%;
}
.form input {
  width: 80%;
  height: 30px;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.forgot {
  margin-top: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}
.form {
  margin-top: 20px;
  width: 400px;
}
.pass {
  position: relative;
}
span {
  cursor: pointer;
  position: absolute;
  right: 95px;
  top: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}
.welcome button {
  font-family: "Avenir Next";
  min-width: 85%;
  height: 30px;
  background: #39cdcc;
  border: none;
  outline: none;
  border-radius: 8px;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0px;
  font-family: "Work Sans", sans-serif;
  height: 40px;
  background-color: white;
}
.bars {
  font-size: 25px;
  color: #39cdcc;
}
nav .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  height: 40px;
}

.navInput input {
  border-width: thin;
  padding: 10px;
  width: 170px;
  border-radius: 8px;
  border-color: lightgrey;
  border: 1px solid #213f7d;
}

.navInput input:focus {
  border-color: transparent;
  outline-color: lightgrey;
}
.navInput button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  background: #39cdcc;
  position: absolute;
  right: 20px;
  top: 22px;
  border: none;
  width: 30px;
  border-radius: 0px 8px 8px 0px;
}

.navicons {
  padding: 10px;
  width: 280px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.FaBell {
  font-size: 25px;
}
.doc {
  color: #213f7d;
  border-bottom: 1px solid lightgray;
}
.userImg {
  background-color: azure;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.navicons h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #213f7d;
}
/* .userImg img {
  width: 100%;
} */
.userName {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.angledown {
  margin-top: 20px;
}
aside {
  display: none;
  padding: 30px 0px;
  font-family: "Work Sans", sans-serif;
  border-color: rgb(230, 226, 226);
  border-width: thin;
  position: sticky;
  top: 80px;
  overflow-y: scroll;
  width: 30%;
  height: calc(90vh - 90px);
}
.default {
  display: flex;
}
aside div {
  padding-left: 20px;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #213f7d;
}
aside .dashboard {
  margin: 30px 0px;
}
aside h5 {
  padding-left: 20px;
  margin: 15px 0px;
  color: #545f7d;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
aside p {
  font-size: 16px;
}

.activeTab {
  background-color: rgb(57, 212, 212, 0.06);
  border-left: 3px solid #39cdcc;
}
.content {
  font-family: "Work Sans";
  padding: 30px;
  width: 100%;
  background-color: #e5e5e5;
}
.content h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #213f7d;
}
.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 14px;
}
.container-box div {
  box-sizing: border-box;
  padding: 20px;
  width: 240px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.container-box .icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  background: rgb(223, 24, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cons {
  color: black;
  font-size: 30px;
}
.container-box h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #545f7d;
  margin: 10px 0px;
}

.container-box h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #213f7d;
}
@media only screen and (min-width: 940px) {
  .welcome {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
  }
  aside {
    display: block;
  }
  .Bar {
    display: none;
  }
  .unionImg {
    width: 20px;
    height: 20px;
  }
  .lendsqr {
    width: fit-content;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0px;
    font-family: "Work Sans", sans-serif;
    height: 40px;
    background-color: white;
  }
  nav .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 40px;
  }
  .navInput {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .navInput input {
    border-width: thin;
    padding: 10px;
    width: 400px;
    border-radius: 8px;
    border-color: lightgrey;
    border: 1px solid #213f7d;
  }

  .navicons {
    padding: 10px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navInput button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: #39cdcc;
    position: absolute;
    top: auto;
    right: 0.5px;
    border: none;
    width: 50px;
    border-radius: 0px 8px 8px 0px;
  }
  .pablo {
    margin-top: 40px;
    width: 45%;
  }

  .form {
    margin-top: 0px;
    width: 40%;
  }
}
