@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,200;1,400;1,600&display=swap");
a {
  text-decoration: none !important;
  color: #545f7d !important;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  overflow-x: hidden;
}
.unionImg {
  width: 20px;
  height: 20px;
}
.lendsqr {
  width: 70px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin-left: 60px;
  height: 150px;
}

.welcome {
  padding: 30px;
}

.welcome h2 {
  margin: 0px;
  color: #213f7d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
.details {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #545f7d;
}
.pablo {
  min-width: 45%;
}
.pablo Img {
  width: 100%;
}
.form input {
  width: 100%;
  height: 30px;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.forgot {
  margin-top: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}
.form {
  margin-top: 20px;
  width: 400px;
}
.pass {
  position: relative;
}
.pass span {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}

.welcome {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.welcome button {
  font-family: "Avenir Next";
  width: 100%;
  height: 30px;
  background: #39cdcc;
  border: none;
  outline: none;
  border-radius: 8px;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

nav {
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  font-family: "Work Sans", sans-serif;
  height: 100px;
  background-color: white;
}
.bars {
  cursor: pointer;
  font-size: 25px;
  color: #39cdcc;
}
nav .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  height: 40px;
}
.navInput {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #213f7d;
  border-radius: 8px;
}

.navInput input {
  width: 420px;
  border: none;
}

.navInput button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #39cdcc;
  border: none;
  border-radius: 0px 8px 8px 0px;
  height: 44px;
  width: 40px;
}

.navInput input:focus {
  border-color: transparent;
  outline: none;
}
.sidebarInput {
  border-radius: 8px;
  border: 1px solid #213f7d;
}
.sidebarInput input {
  width: 200px;
  border: none;
}
.sidebarInput input:focus {
  border-color: transparent;
  outline: none;
}
.sidebarInput button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  background: #39cdcc;
  border: none;
  width: 50px;
  height: 47px;
  border-radius: 0px 8px 8px 0px;
}
.user {
  width: 150px;
}
.user h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #213f7d;
}
.navicons {
  width: 150px;
}
.Bar {
  display: block;
}
.FaBell {
  font-size: 25px;
}
.doc {
  color: #213f7d;
  border-bottom: 1px solid lightgray;
}
.userImg {
  display: block;
  background-color: azure;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.navicons h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #213f7d;
}

.angledown {
  margin-top: 20px;
}
aside {
  display: none;
  padding: 30px 0px;
  font-family: "Work Sans", sans-serif;
  border-color: rgb(230, 226, 226);
  border-width: thin;
  position: sticky;
  top: 100px;
  overflow-y: scroll;
  width: 30%;
  height: calc(98vh - 90px);
}
.showsidebar {
  font-family: "Work Sans", sans-serif;
}

.showsidebar div {
  padding-left: 25px;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.showsidebar .dashboard {
  margin: 30px 0px;
}

.showsidebar h5 {
  padding-left: 25px;
  margin: 15px 0px;
  color: #545f7d;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.showsidebar .dashboard {
  margin: 0px;
  font-size: 16px;
}
.showsidebar p {
  color: #213f7d;
  margin: 0px;
  font-size: 16px;
}

.default {
  display: flex;
}
aside div {
  padding-left: 25px;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
  gap: 12px;
  color: #213f7d;
  cursor: pointer;
}
aside .dashboard {
  margin: 30px 0px;
}

aside h5 {
  padding-left: 25px;
  margin: 15px 0px;
  color: #545f7d;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
aside p {
  margin: 0px;
  font-size: 16px;
}

.activeTab {
  background-color: rgb(57, 212, 212, 0.06);
  border-left: 3px solid #39cdcc;
}
.content {
  font-family: "Work Sans";
  padding: 10px;
  width: 100%;
  background-color: #e5e5e5;
}
.content h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #213f7d;
}
.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.container-box div {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.container-box .icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  background: rgb(223, 24, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cons {
  color: black;
}
.container-box h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #545f7d;
  margin: 10px 0px;
}

.container-box h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #213f7d;
}

table {
  width: 100%;
  margin: 30px auto;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px !important;
}

table div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #545f7d;
  width: fit-content;
}

td {
  padding: 10px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #545f7d;
  line-height: 16px;
  vertical-align: middle;
}
.popup p {
  margin: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #545f7d;
}
.popup {
  z-index: 10;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 180px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.popup div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-Btn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #545f7d;
}
.tabBtn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgb(84, 95, 125, 0.6);
  background-color: transparent;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
}
.btn-container button {
  border: none;
}
.p-btn {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545f7d;
}
.header.arrowleft {
  color: #545f7d;
}
.header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #545f7d;
}

.userDetails h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #213f7d;
}
.userDetails button {
  border-radius: 8px;
  min-width: 100px;
}
.userDetails .blacklist {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #e4033b;
  padding: 10px;
  color: #e4033b;
}
.userDetails .activate {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #39cdcc;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
  padding: 10px;
}
.userInfo {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin: 35px auto;
  padding: 20px 20px 0px 20px;
}

.userInfo h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #545f7d;
}
.userInfo h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}
.userInfo h2 {
  width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #545f7d;
}
.userInfo h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #545f7d;
}
.cont {
  width: 190px !important;
  padding: 20px !important;
  overflow-wrap: break-word;
  /* overflow: hidden; */
}
.education {
  width: 233px;
  padding: 10px;
}
.userImage {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  /* background-color: rgb(33, 63, 125, 0.16); */
}
.fullname h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #213f7d;
}
.fullname p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545f7d;
}
.userRate {
  border-left: 1px solid rgb(84, 95, 125, 0.2);
}
.userRate h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #545f7d;
}
.userRate {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #213f7d;
}
.bankDetails {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #213f7d;
}
.butn-container .button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0px;
  border: none;
  background-color: #ffffff;
}
.activeBtn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #39cdcc;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px #39cdcc;
}
hr {
  border: 1px solid rgb(33, 63, 125, 0.1);
}
@media only screen and (min-width: 480px) {
  .container-box div {
    width: 200px;
  }
}
@media only screen and (min-width: 940px) {
  .pablo {
    margin-top: 30px;
  }

  .form input {
    width: 85%;
  }

  .welcome button {
    width: 85%;
  }
  .content {
    padding: 20px;
  }
  .pass span {
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 18px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #39cdcc;
  }

  .unionImg {
    width: 20px;
    height: 20px;
  }
  .lendsqr {
    width: fit-content;
  }

  nav .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 40px;
  }

  .form {
    margin-top: 0px;
    width: 40%;
  }
}
@media screen and (min-width: 1100px) {
  aside {
    display: block;
  }
  .Bar {
    display: none;
  }
}
