body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  overflow-x: hidden;
}
.unionImg {
  width: 20px;
  height: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin-left: 60px;
  height: 150px;
}

.welcome {
  padding: 30px;
}

.welcome h2 {
  margin: 0px;
  color: #213f7d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
.details {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #545f7d;
}
.pablo {
  width: 400px;
}
.pablo Img {
  width: 100%;
}
input {
  width: 80%;
  height: 30px;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.forgot {
  margin-top: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}
.form {
  margin-top: 20px;
  width: 400px;
}
.pass {
  position: relative;
}
span {
  cursor: pointer;
  position: absolute;
  right: 95px;
  top: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}
.welcome button {
  font-family: "Avenir Next";
  min-width: 85%;
  height: 30px;
  background: #39cdcc;
  border: none;
  outline: none;
  border-radius: 8px;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 20px;
}

@media only screen and (min-width: 680px) {
  .welcome {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
  }

  .pablo {
    margin-top: 40px;
    width: 45%;
  }

  .form {
    margin-top: 0px;
    width: 40%;
  }
}
